<div class= "container">
  <div class="display">
    <h3>Bouteilles mises de côté : </h3>
    <% @bouteilles.each do |bouteille|%>
    <%=render 'shared/extracted_preview', bouteille: bouteille %>
    <%end%>
  </div>
</div>
