<div data-display-form-target="createNewCuveeFromExisting">
<%= link_to "Changer l'année", new_cuvee_path%>
<button name="button" class="bacchus-button-filter">Voir le reste du formulaire</button>
</div>
