<div data-display-form-target="createNewCuveeFromExisting">
<%= link_to "Changer l'année", new_cuvee_path(@cuveeref)%>
<button name="button" class="bacchus-button-filter" data-action="click->display-form#nextfields">Voir le reste du formulaire</button>
</div>
