<div class="degustation-preview">
   <div class="title-card">
      <%= "#{cuvee.domaine} #{cuvee.cuvee} #{cuvee.annee.year}"%>
    </div>
    <%=degustation.date_deg.strftime("%d.%m.%y")%>
    <%=degustation.note_cuvee%>
    "<em><%=degustation.commentaire%></em>"
</div>
