<div data-display-form-target = "formFiltered">
<%= simple_form_for(@bouteille) do |f|%>
  <%=f.input :cuvee, label: false, collection: cuveesforsearch, input_html: {:"data-action"=>"input->display-form#proposeyear"}, as: :radio_buttons%>
<%end%>
</div>
