<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="logo">Bacchus</div>


    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? && current_user.caves.count!=0%>
          <li class="nav-item">
          <%= link_to settings_path do %>
            <%= image_tag asset_path "cog-icon.png", class: "avatar dropdown-toggle"%>
          <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
