<div class="modal">
  <div class="display">
    <%= simple_form_for(@wishlist) do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, "Enregistrer", class: "bacchus-button-filter"%>
    <%end%>
  </div>
</div>
