<div class="container-image">
  <div class="text-on-image">
    <h1 class="logo">Bacchus</h1>
    <p>Votre cave à vin au creux de la main</p>
    <%= link_to new_user_session_path do%>
    <button class= "bacchus-button-filter">M'identifier</button>
    <%end%>
  </div>
</div>
