<div class="container">
  <div class="display">
    <ul>
    <li><%= link_to "Ajouter une cave",new_cave_path%></li>
    <li><%= link_to "Modifier mon compte", edit_user_registration_path%></li>
    <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
