.bacchus-button-filter {
  border-radius: 8px;
  background-color: $bacchus-primary;
  color: $bacchus-background;
  padding: 4px 8px;
  text-align:center;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0, 0.2);
  font-weight: bold;
  font-size: 0.8em;

}
