.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width:100vw;
  //z-index: 200;
  background-color:$bacchus-background;
}


.modal-container{
  color: $bacchus-dark;
}


.modal-section{
  border-bottom: solid 1px $bacchus-dark;
  margin-bottom: 16px;
  padding: 8px
}
