<div class="container">
  <div class="display">
    <h1><%= @wishlist.name%></h1>
    Ajouter : <%= link_to new_bouteille_path do %>
       <i class="fas fa-plus-circle"></i>
    <%end%>
    <% @bouteilles.each do |bouteille|%>
    <%=render 'shared/wishlist_bottle_preview', bouteille: bouteille %>
    <%end%>
  </div>
</div>
